USE [master]
GO
/****** Object:  Database [Portfolio]    Script Date: 15.06.2026 20:19:06 ******/
CREATE DATABASE [Portfolio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Portfolio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Portfolio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Portfolio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Portfolio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Portfolio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Portfolio]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Block]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[BlockTypeId] [int] NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Caption] [nvarchar](max) NULL,
	[FontSize] [int] NOT NULL,
	[TextAlign] [nvarchar](max) NOT NULL,
	[TextColor] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_Block] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockType]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BlockType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DesignSettings]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DesignSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PortfolioId] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Font] [nvarchar](max) NOT NULL,
	[AccentColor] [nvarchar](max) NOT NULL,
	[Theme] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DesignSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryImage]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlockId] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[Caption] [nvarchar](max) NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_GalleryImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolios]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Portfolios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PortfolioId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[IsCustom] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfile]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[GroupName] [nvarchar](max) NULL,
	[Specialty] [nvarchar](max) NULL,
	[Phone] [nvarchar](30) NULL,
	[AvatarPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_StudentProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15.06.2026 20:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsArchived] [bit] NOT NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260426112346_Init', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260501215233_NewMigration', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260519184112_AddGalleryImage', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Block] ON 

INSERT [dbo].[Block] ([Id], [SectionId], [BlockTypeId], [Content], [Caption], [FontSize], [TextAlign], [TextColor], [SortOrder]) VALUES (7, 2, 1, N'Я победил тут и тут', NULL, 0, N'', N'', 0)
INSERT [dbo].[Block] ([Id], [SectionId], [BlockTypeId], [Content], [Caption], [FontSize], [TextAlign], [TextColor], [SortOrder]) VALUES (10, 2, 1, N'https://avatars.mds.yandex.net/get-mpic/5214322/2a000001930bfe39e8cf4cc7024cac12ee8d/orig', NULL, 0, N'', N'', 0)
INSERT [dbo].[Block] ([Id], [SectionId], [BlockTypeId], [Content], [Caption], [FontSize], [TextAlign], [TextColor], [SortOrder]) VALUES (11, 2, 1, N'https://avatars.mds.yandex.net/i?id=3e336609d55be287cff57a4e6366c277_l-2772079-images-thumbs&ref=rim&n=13&w=800&h=800', NULL, 0, N'', N'', 0)
SET IDENTITY_INSERT [dbo].[Block] OFF
GO
SET IDENTITY_INSERT [dbo].[BlockType] ON 

INSERT [dbo].[BlockType] ([Id], [Code], [Icon], [IsActive]) VALUES (1, N'text', N'📝', 1)
INSERT [dbo].[BlockType] ([Id], [Code], [Icon], [IsActive]) VALUES (2, N'image', N'🖼', 1)
INSERT [dbo].[BlockType] ([Id], [Code], [Icon], [IsActive]) VALUES (3, N'link', N'🔗', 1)
SET IDENTITY_INSERT [dbo].[BlockType] OFF
GO
SET IDENTITY_INSERT [dbo].[DesignSettings] ON 

INSERT [dbo].[DesignSettings] ([Id], [PortfolioId], [Color], [Font], [AccentColor], [Theme]) VALUES (1, 1, N'#f0fdf4', N'Open Sans', N'#16a34a', N'forest')
INSERT [dbo].[DesignSettings] ([Id], [PortfolioId], [Color], [Font], [AccentColor], [Theme]) VALUES (2, 2, N'#ffffff', N'Arial', N'', N'')
INSERT [dbo].[DesignSettings] ([Id], [PortfolioId], [Color], [Font], [AccentColor], [Theme]) VALUES (3, 3, N'#ffffff', N'Arial', N'', N'')
SET IDENTITY_INSERT [dbo].[DesignSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[GalleryImage] ON 

INSERT [dbo].[GalleryImage] ([Id], [BlockId], [ImagePath], [Caption], [SortOrder]) VALUES (11, 23, N'/uploads/cb5c86f2-83f7-4741-9a44-c4eaab041c1b.webp', N'Грамота 1', 0)
INSERT [dbo].[GalleryImage] ([Id], [BlockId], [ImagePath], [Caption], [SortOrder]) VALUES (12, 23, N'/uploads/ceb9b23c-b015-4003-99f0-5966f23ae1b6.webp', NULL, 1)
INSERT [dbo].[GalleryImage] ([Id], [BlockId], [ImagePath], [Caption], [SortOrder]) VALUES (13, 23, N'/uploads/82b3fa41-4e65-4576-938f-ac26bc5b11ee.webp', NULL, 2)
SET IDENTITY_INSERT [dbo].[GalleryImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Portfolios] ON 

INSERT [dbo].[Portfolios] ([Id], [UserId]) VALUES (1, 1)
INSERT [dbo].[Portfolios] ([Id], [UserId]) VALUES (2, 2)
INSERT [dbo].[Portfolios] ([Id], [UserId]) VALUES (3, 4)
SET IDENTITY_INSERT [dbo].[Portfolios] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Code]) VALUES (2, N'Admin')
INSERT [dbo].[Role] ([Id], [Code]) VALUES (1, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([Id], [PortfolioId], [Title], [IsCustom], [SortOrder]) VALUES (1, 1, N'О себе', 0, 0)
INSERT [dbo].[Section] ([Id], [PortfolioId], [Title], [IsCustom], [SortOrder]) VALUES (2, 1, N'Достижения', 0, 0)
INSERT [dbo].[Section] ([Id], [PortfolioId], [Title], [IsCustom], [SortOrder]) VALUES (3, 1, N'Работы', 0, 0)
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentProfile] ON 

INSERT [dbo].[StudentProfile] ([Id], [UserId], [FullName], [GroupName], [Specialty], [Phone], [AvatarPath]) VALUES (1, 10, N'Азаренко Михаил Владимирович', N'ПР-41', N'09.02.07', N'89126463925', N'/avatars/67698f88-7168-463a-ba77-96926490c9a0.png')
INSERT [dbo].[StudentProfile] ([Id], [UserId], [FullName], [GroupName], [Specialty], [Phone], [AvatarPath]) VALUES (2, 11, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StudentProfile] ([Id], [UserId], [FullName], [GroupName], [Specialty], [Phone], [AvatarPath]) VALUES (3, 12, NULL, NULL, NULL, N'lklklkl;', NULL)
SET IDENTITY_INSERT [dbo].[StudentProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Email], [PasswordHash], [CreatedAt], [IsArchived], [RoleId]) VALUES (1, N'azarenko_1999@list.ru', N'C3CAF775D57ECFCFC807A03D305CD8F7BA7C04DA42D1FDB2FEA03CBA462846D3', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 1)
INSERT [dbo].[User] ([Id], [Email], [PasswordHash], [CreatedAt], [IsArchived], [RoleId]) VALUES (2, N'azarenko2000Lipa@gmail.com', N'002D0FDAAC4F5BA8297E3D85DEF14A11AAB4B7AACBC341F43D1BEA392BBC33A9', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[User] ([Id], [Email], [PasswordHash], [CreatedAt], [IsArchived], [RoleId]) VALUES (3, N'dsds@fefe.ru', N'002D0FDAAC4F5BA8297E3D85DEF14A11AAB4B7AACBC341F43D1BEA392BBC33A9', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Block_BlockTypeId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE NONCLUSTERED INDEX [IX_Block_BlockTypeId] ON [dbo].[Block]
(
	[BlockTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Block_SectionId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE NONCLUSTERED INDEX [IX_Block_SectionId] ON [dbo].[Block]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BlockType_Code]    Script Date: 15.06.2026 20:19:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BlockType_Code] ON [dbo].[BlockType]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignSettings_PortfolioId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DesignSettings_PortfolioId] ON [dbo].[DesignSettings]
(
	[PortfolioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GalleryImage_BlockId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE NONCLUSTERED INDEX [IX_GalleryImage_BlockId] ON [dbo].[GalleryImage]
(
	[BlockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Portfolios_UserId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Portfolios_UserId] ON [dbo].[Portfolios]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role_Code]    Script Date: 15.06.2026 20:19:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Role_Code] ON [dbo].[Role]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Section_PortfolioId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE NONCLUSTERED INDEX [IX_Section_PortfolioId] ON [dbo].[Section]
(
	[PortfolioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentProfile_UserId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentProfile_UserId] ON [dbo].[StudentProfile]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_RoleId]    Script Date: 15.06.2026 20:19:06 ******/
CREATE NONCLUSTERED INDEX [IX_User_RoleId] ON [dbo].[User]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Block] ADD  CONSTRAINT [DF__Block__FontSize__6FE99F9F]  DEFAULT ((0)) FOR [FontSize]
GO
ALTER TABLE [dbo].[Block] ADD  CONSTRAINT [DF__Block__TextAlign__70DDC3D8]  DEFAULT (N'') FOR [TextAlign]
GO
ALTER TABLE [dbo].[Block] ADD  CONSTRAINT [DF__Block__TextColor__71D1E811]  DEFAULT (N'') FOR [TextColor]
GO
ALTER TABLE [dbo].[Block] ADD  CONSTRAINT [DF__Block__SortOrder__04E4BC85]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[DesignSettings] ADD  DEFAULT (N'') FOR [AccentColor]
GO
ALTER TABLE [dbo].[DesignSettings] ADD  DEFAULT (N'') FOR [Theme]
GO
ALTER TABLE [dbo].[Section] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__CreatedAt__01142BA1]  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__IsArchived__02084FDA]  DEFAULT (CONVERT([bit],(0))) FOR [IsArchived]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__Role__02FC7413]  DEFAULT (N'') FOR [RoleId]
GO
ALTER TABLE [dbo].[Block]  WITH CHECK ADD  CONSTRAINT [FK_Block_BlockType] FOREIGN KEY([BlockTypeId])
REFERENCES [dbo].[BlockType] ([Id])
GO
ALTER TABLE [dbo].[Block] CHECK CONSTRAINT [FK_Block_BlockType]
GO
ALTER TABLE [dbo].[Block]  WITH CHECK ADD  CONSTRAINT [FK_Block_Section] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Section] ([Id])
GO
ALTER TABLE [dbo].[Block] CHECK CONSTRAINT [FK_Block_Section]
GO
ALTER TABLE [dbo].[DesignSettings]  WITH CHECK ADD  CONSTRAINT [FK_DesignSettings_Portfolios_PortfolioId] FOREIGN KEY([PortfolioId])
REFERENCES [dbo].[Portfolios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DesignSettings] CHECK CONSTRAINT [FK_DesignSettings_Portfolios_PortfolioId]
GO
ALTER TABLE [dbo].[GalleryImage]  WITH CHECK ADD  CONSTRAINT [FK_GalleryImage_Block_BlockId] FOREIGN KEY([BlockId])
REFERENCES [dbo].[Block] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryImage] CHECK CONSTRAINT [FK_GalleryImage_Block_BlockId]
GO
ALTER TABLE [dbo].[Portfolios]  WITH CHECK ADD  CONSTRAINT [FK_Portfolios_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Portfolios] CHECK CONSTRAINT [FK_Portfolios_User_UserId]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_Portfolios_PortfolioId] FOREIGN KEY([PortfolioId])
REFERENCES [dbo].[Portfolios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_Portfolios_PortfolioId]
GO
ALTER TABLE [dbo].[StudentProfile]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfile_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentProfile] CHECK CONSTRAINT [FK_StudentProfile_User_UserId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
